In [12]:
from pathlib import Path

import pandas as pd

# Get the directory of the current script
base_dir = Path("Data_Discovery").parent

# Navigate three directories up and into your desired folder (replace 'your_file.csv' with actual filename)
csv_path = (base_dir / ".." / ".." / ".." / "dataset/discovery.csv").resolve()

# Read the CSV
df = pd.read_csv(csv_path, header= 0, delimiter=";")
print(df.head(10))

         ID                                               NAME     TYPE  SRC  \
0  18490453                                    ADECCO GROUP AG  FIN_REP  NaN
1  18490453                                    ADECCO GROUP AG    OTHER  NaN
2  18490453                                    ADECCO GROUP AG    OTHER  NaN
3  18490453                                    ADECCO GROUP AG    OTHER  NaN
4  18490453                                    ADECCO GROUP AG    OTHER  NaN
5  18490453                                    ADECCO GROUP AG    OTHER  NaN
6  18503381  JOHNSON CONTROLS INTERNATIONAL PUBLIC LIMITED ...  FIN_REP  NaN
7  18503381  JOHNSON CONTROLS INTERNATIONAL PUBLIC LIMITED ...    OTHER  NaN
8  18503381  JOHNSON CONTROLS INTERNATIONAL PUBLIC LIMITED ...    OTHER  NaN
9  18503381  JOHNSON CONTROLS INTERNATIONAL PUBLIC LIMITED ...    OTHER  NaN

   REFYEAR
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN

In [10]:
df.groupby("NAME").count()

                                     ID  TYPE  SRC  REFYEAR
NAME
3I GROUP PLC                          6     6    0        0
A.P. MOLLER - MAERSK                  6     6    0        0
ABB LTD                               6     6    0        0
ABBOTT LABORATORIES                   6     6    0        0
ACCENTURE PLC                         6     6    0        0
...                                  ..   ...  ...      ...
WPP PLC                               6     6    0        0
WURTH                                 6     6    0        0
YARA INTERNATIONAL ASA                6     6    0        0
ZF FRIEDRICHSHAFEN                    6     6    0        0
ZHEJIANG GEELY HOLDING GROUP CO LTD   6     6    0        0

[200 rows x 4 columns]